<div class="page-header mar-t">
<%= render "layouts/msg" %>
  <%= link_to advertisments_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <em style="font-weight: bold;">បន្ថែមពាណិជ្ជកម្មថ្មី</em>
</div>

<%= render 'form' %>
