<div class="page-header mar-t">
<%= render "layouts/msg" %>
  <%= link_to thumbnails_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>បន្ថែមថ្មី</h1>
</div>

<%= render 'form' %>
