<div class="col-lg-8 col-md-8 col-sm-8  mar-t">
<div class="contact-form">
<p>ស្ថានីយ៍វិទ្យុពាណិជ្ជកម្ម FM 89.75MHz ផ្សាយជូនស្តាប់កំសាន្តចាប់ពីម៉ោង 5ព្រឹកដល់ម៉ោង 24យប់
វិទ្យុពាណិជ្ជកម្ម នាំមកជូនលោកអ្នកដោយ ពត៌មានថ្មីៗ សិល្បះកំសាន្ត វប្បធម៌អប់រំ ចំណេះដឹងទូទៅ សង្គមធម៌ ព្រះពុទ្ធសាសនា និងសេវាកម្ម ពាណិជ្ជផ្សេងៗទៀត
វិទ្យុពាណិជ្ជកម្ម ជាប្រភពនៃចំនុចចាប់ផ្តើមនូវភាពរីកចំរើនរបស់លោកអ្នក លឿន រហ័ស ជឿជាក់ នឹងទុកចិត្តបាន 100%
វិទ្យុពាណិជ្ជកម្ម ជាចំនុចចាប់ផ្តើមនៃភាពរីកចំរើនរបស់លោកអ្នក ទំនាក់ទំនង ផ្សព្វផ្សាយពាណិជ្ជកម្ម <br><span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;&nbsp;ទំនាក់ទំនងទូរស័ព្ទ: 012 345 000, 017 558 862 , 015 558 862<br> <span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;&nbsp; អាស័យដ្ឋាន អុីមែល: radiofm89.75mhz@yahoo.com
</p>

<p style="text-align:center;">
	<%= image_tag "image2.JPG" %>
	<%= image_tag "image1.JPG" %>
</p>
</div>

</div>


<%= render 'sidebar' %>