@import url(http://fonts.googleapis.com/css?family=Fasthand);
@import url(http://fonts.googleapis.com/css?family=Freehand);
@import url(http://fonts.googleapis.com/css?family=Preahvihear);
@import url(http://fonts.googleapis.com/css?family=Metal);
@import url(http://fonts.googleapis.com/css?family=Chenla);
@import url(http://fonts.googleapis.com/css?family=Nokora);
@import url(http://fonts.googleapis.com/css?family=Dangrek);


h1,h2,h3,h4,h5,h6{
	margin-top: 0;
}

label{
	line-height: 0.5;
}
.form-group{
	margin-bottom: 10px;
}
.navbar{
	background: #FFF;
}
.navbar-inverse {
	border-bottom: 1px solid #eceeef;
	.navbar-brand{
		// font-family: 'Freehand', cursive;
		// font-family: 'Nokora', serif;
		color:#444;
		padding-top:25px;
		padding-bottom: 25px;
	}
	.navbar-nav > li > a {
		font-size:0.8em;
		color:#444;
		padding-top:25px;
		padding-bottom: 25px;
		// font-family: 'Freehand', cursive;
		// font-family: 'Nokora', serif;
		&:hover{
			// border-bottom: 2px solid #444;	
		}
	}

}
.control-remember{
	margin-top: 5px;
	margin-bottom: 5px;
}
.page-header{
	margin-top: 0px;
}
.alert{
	padding:5px 10px;
	margin-bottom: 20;
	
	.close{
		right: 0;
		padding-right: 10px;
	}
}
.alert-dismissable .close {
	right: 0;
}
.col-lg-6{
	margin-top: 0;
	padding-left:5px;
	padding-right:5px;
	margin-bottom:10px;
	.box{
		height: 280px;
		.box-img{
			width: 100%;
			img{
				width: 100%;
			}
		}
		.box-title{
			margin-top: 5px;
			font-size:0.8em;
			line-height: 1.8;
			font-family: 'Freehand', cursive;
		}
	}
}
.dialog{
	margin-top: 0;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}
.bottom-menu{
	padding-top:30px;
	padding-bottom: 0;
}
.show-page{
	width: 760px;
	p{
		margin-top: 0;
		margin-bottom: 8px;
		font-size:15px;
		
		span{
			float: right;
		}
	}
	h6{
		word-wrap:break-word;
		line-height: 1.8;
		font-size:1.3em;
		color:#d73b22;
		font-family: 'Freehand', cursive;
		margin-bottom: 5px;
	}
	.image{
		margin-top: 10px;
		text-align: center;
		img{
		}
	}
	.desc{
		margin-top:10px;
	}
}
.sidebar{
	img{
		width: 100%;
	}
}
.last-news{
	margin-top: 50px;
	p{
		margin-bottom: 0;
		font-family: 'Freehand', cursive;
	}
	.dialog{
		padding-bottom: 10px;
		a{
			color:#777;
			&:hover{
				color:#d73b22;
			}
		}
	}
}
.text-centered{
	text-align: center;
}
.pagination ul li > a{
	&:hover{
		color: #FFF;
	}
}
.log-in{
	margin: 50px auto;
}
.contact-form{
	p{
		width: 100%;
		img{
			width: 100%;
		}
	}
}





.news{
	.col-lg-12{
		padding:0px;
		.col-lg-6{
			.po-image{
				padding:5px;
				width: 100%;
				img{
					width: 100%;
				}
			}
			.po-title{
				font-family: 'Freehand', cursive;
				color:#d73b22;
				h6{
					font-size:1em;
					height: 1.8;
				}
			}
			.po-desc{
				padding:5px;
				font-size:16px;
				a{
					color:#444;
				}
				
			}
		}
	}
}
.mar-t{
	margin-top: 40px;
}
.col-lg-4{
	.image-ads{
		img{
			width: 100%;
		}
	}
}

.radio-blog{
	h6{
		font-family: 'Chenla', cursive;
		font-size: 1em;
		
	}
	p#preview{
		a{
			display: none;
		}
	}
}




@media only screen and (max-width : 480px) {
.bottom-menu{
	display: none;
}
.navbar-header{
	a{
		color:#777;
	}
}
.navbar-inverse {
	border-bottom: 1px solid #eceeef;
	.navbar-brand{
		font-family: 'Chenla', cursive;
		font-size: 1.2em;
		color:#444;
		padding-top:20px;
		padding-bottom: 0px;
		color:#777;
	}
	.navbar-nav > li > a {
		font-size:0.8em;
		color:#444;
		padding-top:25px;
		padding-bottom: 25px;
		font-family: 'Chenla', cursive;
		color:#777;
		&:hover{
			// border-bottom: 2px solid #444;	
		}
	}

}
}








/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}




/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
}
.media{
	a{
		img{
			height: 130px;
		}
	}
}

.game{
}