 <div class="demo-content">
          <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <%= image_tag "logo.jpg" %>
              </div>
               <div class="item">
                <%= image_tag "image-02.JPG" %>
              </div>
              <div class="item">
                <%= image_tag "image-02.JPG" %>
              </div>
              <div class="item">
                <%= image_tag "image-03.JPG" %>
              </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control fui-arrow-left left" href="#myCarousel" data-slide="prev"></a>
            <a class="carousel-control fui-arrow-right right" href="#myCarousel" data-slide="next"></a>
          </div>
</div>
  
  